{%- if loopback %}
interface Loopback0
 ip address {{ loopback.ip }} {{ loopback.mask }}
 no shutdown
 exit
{%- endif %}

{%- if ospf %}
router ospf {{ ospf.process_id }} vrf {{ ospf.vrf }}
 router-id {{ ospf.router_id }}
{%- for net in ospf.networks %}
 network {{ net.ip }} {{ net.wildcard }} area {{ net.area }}
{%- endfor %}
{%- if ospf.default_originate %}
 default-information originate always
{%- endif %}
 exit
{%- endif %}

{%- if interfaces %}
{%- for intf in interfaces %}
interface {{ intf.name }}
{%- if intf.vrf %} vrf forwarding {{ intf.vrf }}{% endif %}
{%- if intf.ip %} ip address {{ intf.ip }}{% if intf.mask %} {{ intf.mask }}{% endif %}{% endif %}
{%- if intf.dhcp %} ip address dhcp{% endif %}
{%- if intf.nat %} ip nat {{ intf.nat }}{% endif %}
 no shutdown
 exit
{%- endfor %}
{%- endif %}

{%- if acls %}
{%- for acl in acls %}
access-list {{ acl.number }} permit {{ acl.network }} {{ acl.wildcard }}
{%- endfor %}
{%- endif %}

{%- if nat_config %}
ip nat inside source list {{ nat_config.acl }} interface {{ nat_config.interface }} vrf {{ nat_config.vrf }} overload
{%- endif %}

{%- if vlans %}
{%- for vlan in vlans %}
vlan {{ vlan.id }}
 name {{ vlan.name }}
 exit
{%- endfor %}
{%- endif %}

{%- if switchports %}
{%- for sw in switchports %}
interface {{ sw.name }}
 switchport mode access
 switchport access vlan {{ sw.vlan }}
 no shutdown
 exit
{%- endfor %}
{%- endif %}
